[Desktop Entry]
Encoding=UTF-8
Name=BeatCOIN
Comment=BeatCOIN P2P Cryptocurrency
Comment[fr]=BeatCOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BeatCOIN, eşten eşe kriptografik sanal para birimi
Exec=beatcoin-qt %u
Terminal=false
Type=Application
Icon=beatcoin128
MimeType=x-scheme-handler/beatcoin;
Categories=Office;Finance;
